@layer components {
  .mdx-content {
    h2 {
      @apply font-serif text-3xl pt-8 pb-4;

      span[data-rehype-pretty-code-figure] code {
        @apply text-xl;
        /* font-mono looks bigger than p, so manually set the font-size */
      }
    }

    h3 {
      @apply font-serif text-xl pt-4 pb-2;

      /* font-mono looks bigger than p, so manually set the font-size */
      span[data-rehype-pretty-code-figure] code {
        @apply text-base;
      }
    }

    p {
      @apply font-serif leading-relaxed py-2;

      span[data-rehype-pretty-code-figure] code {
        @apply text-sm;
        /* font-mono looks bigger than p, so manually set the font-size */
      }
    }

    ol {
      @apply font-serif;
      list-style-position: outside;
      list-style-type: decimal;
      padding-left: 1.5rem;

      ol {
        list-style-type: lower-alpha;
        padding-left: 1.5rem;

        ol {
          list-style-type: lower-roman;
          padding-left: 1.5rem;
        }
      }
    }

    ul {
      @apply font-serif;
      list-style-type: disc;
      list-style-position: outside;
      padding-left: 1.5rem;

      ul {
        list-style-type: circle;
        padding-left: 1.5rem;
      }
    }

    li {
      @apply leading-relaxed;
      text-indent: 0;

      p {
        margin: 0;
        display: inline;
      }

      /* font-mono looks bigger than p, so manually set the font-size */
      span[data-rehype-pretty-code-figure] code {
        @apply text-sm;
      }

    }

    hr {
      @apply my-4;
    }

    /* Table Style */
    table {
      @apply w-full border-collapse text-sm my-4;
    }

    th,
    td {
      @apply border px-3 py-2;
    }

    th {
      @apply bg-muted/50 text-left;
    }

    /* Code Block Style */
    pre {
      @apply font-mono rounded-md border bg-muted/50 overflow-x-auto mt-2 mb-4 py-4;

      code {
        @apply font-mono text-sm;

        [data-line] {
          padding-left: 0.75rem;
        }

        [data-line][data-highlighted-line] {
          @apply border-l-2 border-orange-400 pl-[calc(0.75rem-2px)];
        }
      }
    }

    [data-highlighted-line],
    [data-highlighted-char] {
      @apply bg-orange-100/60;
    }

    /* Code number style */
    code[data-line-numbers] {
      counter-reset: line;
    }

    code[data-line-numbers]>[data-line]::before {
      counter-increment: line;
      content: counter(line);

      /* Other styling */
      display: inline-block;
      width: 0.75rem;
      margin-right: 1rem;
      text-align: right;
      color: gray;
    }

    code[data-line-numbers-max-digits="2"]>[data-line]::before {
      width: 1.25rem;
    }

    code[data-line-numbers-max-digits="3"]>[data-line]::before {
      width: 1.75rem;
    }

    code[data-line-numbers-max-digits="4"]>[data-line]::before {
      width: 2.25rem;
    }

    /* END Code number style */

    /* Code block title style */
    div[data-rehype-pretty-code-title],
    figcaption[data-rehype-pretty-code-title] {
      @apply mt-2 px-4 py-1 bg-muted rounded-t-md border font-mono text-muted-foreground text-sm text-center;
    }

    /* if a code block figure has a element has [data-rehype-pretty-code-title] */
    figure:has(
      div[data-rehype-pretty-code-title],
      figcaption[data-rehype-pretty-code-title]
    ) pre {
      @apply rounded-t-none border-t-0 mt-0 pt-2;
    }

    /* Code block caption style */
    figcaption[data-rehype-pretty-code-caption] {
      @apply pt-2 pb-4 font-mono text-xs text-muted-foreground text-center;
    }

    figure:has(figcaption[data-rehype-pretty-code-caption]) pre {
      @apply mb-0;
    }


    /* Code block line style */
    span[data-rehype-pretty-code-figure] code {
      @apply font-mono bg-accent py-[0.1rem] px-[0.4rem] rounded-md;

      /* &::before,
      &::after {
        content: "`";
        @apply font-mono text-pink-600 font-semibold;
      } */
    }
  }
}