@layer components {

  /* font variation settings */
  .soft-70 {
    font-variation-settings: "SOFT" 70;
  }

  .soft-60 {
    font-variation-settings: "SOFT" 60;
  }

  .soft-50 {
    font-variation-settings: "SOFT" 50;
  }

  .soft-40 {
    font-variation-settings: "SOFT" 40;
  }

  /* font-size */
  .headline {
    @apply text-5xl sm:text-6xl;
  }

  /* div */
  .section {
    @apply w-full flex flex-col items-center;
  }

  .subsection {
    @apply w-full px-6 max-w-[480px] md:max-w-screen-sm;
  }

  /* 
    Apply to the first section of the page.
    Keep same vertical padding from page title to the navigation bar.
  */
  .page-top-margin {
    @apply mt-10 sm:mt-16;
  }

  /* Style for book component */
  .book-cover {
    /* book will rotate from right to left, so right side cover looks more rounded */
    @apply rounded-l-sm rounded-r-md overflow-hidden;

    /* Add a subtle darker border to make it more realistic. */
    border: 1px solid rgba(0, 0, 0, .08);

    /* Add a subtle glow to the cover's edge. */
    box-shadow: inset 0 1px 2px 0 hsla(0, 0%, 100%, .3);
  }

  /* 基础伪元素样式 */
  .book-cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 可选：混合模式让噪点与背景色更好地融合 */
    mix-blend-mode: multiply;

    pointer-events: none;
  }

  /* 指定“斜纹” */
  .book-cover.diagonal-texture::before {
    background-image: repeating-linear-gradient(
      45deg,
      #f0f0f0,
      #f0f0f037 2px,
      #ffffff00 1px,
      #ffffff00 8px
    );
  }

  /* 指定“噪点纹理” */
  .book-cover.dot-texture::before {
    background-image:
      radial-gradient(#000000 1px, transparent 1px),
      radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 5px 5px;
    opacity: 0.05;
  }
  .book-text-shadow {
    text-shadow: .025em .5px color-mix(in srgb, var(--book-color) 80%, #fff 20%), -.02em -.02em .5px color-mix(in srgb, var(--book-color) 80%, #000 20%);
  }

  /* Use overlay blend mode to make the bind's shadow. */
  .book-bind-bg {
    mix-blend-mode: overlay;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 12%, hsla(0, 0%, 100%, .25) 29.25%, hsla(0, 0%, 100%, 0) 50.5%, hsla(0, 0%, 100%, 0) 75.25%, hsla(0, 0%, 100%, .25) 91%, hsla(0, 0%, 100%, 0)), linear-gradient(90deg, rgba(0, 0, 0, .03), rgba(0, 0, 0, .1) 12%, transparent 30%, rgba(0, 0, 0, .02) 50%, rgba(0, 0, 0, .2) 73.5%, rgba(0, 0, 0, .5) 75.25%, rgba(0, 0, 0, .15) 85.25%, transparent);
  }
}


.dot-breath {
  animation: breath-glow 1.6s ease-in-out infinite;
  will-change: transform, box-shadow;
}

@keyframes breath-glow {
  0% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgb(236 72 153 / 0);
  }

  50% {
    transform: scale(1.15);
    box-shadow:
      0 0 6px 2px rgba(227, 91, 178, 0.2);
  }

  100% {
    transform: scale(1);
    box-shadow:
      0 0 0 0 rgb(236 72 153 / 0);
  }
}